body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	min-width: 340px;
	background-color: #272240;
	color: #ffffff;
}

p {
	margin: 0;
}

input {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}